<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306998444733-thtupt5r48c5g03on8ekgf46p2jck99p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306998444733-thtupt5r48c5g03on8ekgf46p2jck99p</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ6Alj_KWBoukyPkLkO26WHOd7eNKQ0DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>306998444733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sw1</string>
	<key>PROJECT_ID</key>
	<string>ec463-sw1</string>
	<key>STORAGE_BUCKET</key>
	<string>ec463-sw1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306998444733:ios:7f25d8177ab527aebe6dd4</string>
</dict>
</plist>